﻿@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="col-sm-12 col-md-7 col-md-offset-3 flatpage">
        <h2>e-learning for kids</h2>
        <p>In today's complex world, children's futures are determined by their ability to master the basics of reading, science, math and computers. Yet costs, class sizes and other issues often prevent children access to quality online learning that can support and reinforce these essential skills.</p>
        <img src="~/Content/images/EFK.png" alt="e-learning for kids logo"><br>
        <p><br>Our vision is to be the source for childhood learning on the internet available from anywhere and without charge. Established in late 2004, e-learning for kids is a global, nonprofit foundation dedicated to fun and free learning on the internet for children ages 5 - 12. We offer free, best-in-class courseware in math, science, reading and keyboarding; and we're building a community for parents and educators to share innovations and insights in childhood education.</p>
        <p><br>The e-learning for kids foundation has offices in the UK and Belgium and is recognized as a 123 (c ) Child Foundation in the UK and as a XYZ Foundation in Belgium.<br><br></p>
    </div>
</div>
