﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Welcome page container */
.homecontainer {
  margin: 0, auto;
  margin-top : 2em;
  padding: 0;
  background-color: #fafafa; 
}

.carousel-control.right {
    background: none;
}

.navbar-custom {
    color: #FFF;
    background-color: #000;
	font-weight:700;
    text-transform:uppercase;
    border-width:0;
}