﻿@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@model IEnumerable<BOL.Forum_Answer>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Answer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Forum_Answer_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Forum_Answer_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Forum_Answer_ID })
        </td>
    </tr>
}

</table>
