﻿@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<script>
    function clearBox()
    {
        document.getElementById("account").value = "";
    }
</script>


<div id="table">
    @Html.Action("PostForumAnswer", new {id = ViewBag.Id, newPost = "" })
</div>

<div>
    @using (Ajax.BeginForm("PostForumAnswer", "Forum", new { id = ViewBag.Id },new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "table"
    }

    ))
    {
        <input id="account" type="text" name="newPost" />
        <input type="submit" value="Comment" onmouseout="clearBox()"/>
    }
</div>
<br />
<br />

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
